* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 100vh;
}


@keyframes lista {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ustawienia kontrastów */
.lightMode,
.lightMode header,
.lightMode div h3 {
  background-color: #ffffff;
  color: #101418;
}

.darkMode,
.darkMode header a,
.darkMode nav a,
.darkMode div h3 {
  background-color: #101418;
  color: #F8F9FA;
}

.darkMode .search-container details,
.darkMode #filters {
  border-color: #F8F9FA;
}

.yellowMode,
.yellowMode header a,
.yellowMode nav,
.yellowMode nav a,
.yellowMode .book,
.yellowMode div h3,
.yellowMode footer {
  background-color: #FFF832;
  color: black;
  border-color: #101418;
}
.yellowMode header img {
  filter: grayscale(100%);
}
.yellowMode #loading img {
  filter: grayscale(100%);
  filter: brightness(0);
}
.yellowMode .book button.available {
  background-color: white;
  color: black;
  border: solid 1px black;
}
.yellowMode .book button.unavailable {
  background-color: black;
}
.yellowMode nav a:hover {
  background-color: black;
  color: #F8F9FA;
  text-decoration: underline;
}




/* ustawienia rozmaru teksu */
.normalText,
.normalText .available,
.normalText .unavailable,
.normalText #searchInput {
  font-size: 1em;
}

.bigText,
.bigText .available,
.bigText .unavailable,
.bigText #searchInput {
  font-size: 1.2em;
}

.biggerText,
.biggerText .available,
.biggerText .unavailable,
.biggerText #searchInput {
  font-size: 1.5em;
}

/* przypisanie rozmiaru iconkom do zmiany rozmiaru */
#normalText {
  font-size: 1em;
}

#bigText {
  font-size: 1.2em;
}

#biggerText {
  font-size: 1.5em;
}








/* pierwszy pasek */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.8em 0.8em 0 0.8em;
  overflow: hidden;
}

header a {
  color: brown;
  text-decoration: none;
  flex-grow: 7;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: start;

}
header p img{
  font-size: 1.2em;
}

header div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-items: center;
  justify-content: space-evenly;

}

header div p {
  padding: 0 1px 0 1px;
  margin: auto;
  list-style: none;
  text-align: center;
  display: flex;
  justify-items: center;
  min-width: 1em;

}

header img {
  min-height: 1em;
  max-height: 1.2em;
}

header p:hover {
  text-decoration: underline;
}





/* menu */
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1.2em;
  border-bottom: 0.2em solid brown;
}

nav a {
  color: brown;
  text-decoration: none;
  list-style: none;
  padding: 0.5em 2em 0.5em 2em;
  min-width: 7em;
  text-align: center;
}

nav a:hover {
  background-color: brown;
  color: #F8F9FA;
  text-decoration: underline;
}



/* główny kontyner środka strony */
main {
  display: flex;
  flex-flow: row;
  min-height: 80vh;
  justify-content: space-between;
}






/* rzeczy na stronie */
article {
  padding: 1em;
  width: 80%;

}

article h3,
article h3 a {
  padding: 1em 0 0 0;
  color: black;
  text-decoration: none;


}

#str_summary summary {
  font-weight: bold;
}

#str_summary details {
  margin: 1em;
}

#katalog {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}






/* pasek boczny */
aside {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 1em;
  border-left: 0.1em solid brown;

}

/* st00pka */
footer {
  color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 2em;
  padding: 0 1em 0 1em;
  border-top: 0.2em solid brown;
}










/* rzeczy na stronie wyszukiwania (katalog) */
.search-container {
  display: flex;
  flex-direction: column;
  margin: 1.2em 0;
  text-align: center;
  align-items: center;
}

.search-container details {
  margin-top: 0.5em;
  padding: 0.2em;
  border: #101418 1px solid;
  border-radius: 0.5em;
  text-align: center;
  min-width: 80%;

}

.search-container summary {
  padding: 0.2em;
}

#searchInput {
  min-width: 80%;
  height: 2em;
  font-size: 1em;
  border-radius: 0.5em;
  border: 1px solid black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em 5% 1em 5%;
  border-top: solid 1px black;
}






.book {
  animation: lista 1s forwards ease-in-out;
  border: 1px solid brown;
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.book button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.book button.available {
  background-color: #4CAF50;
  color: white;
}

.book button.available:hover {
  opacity: 50%;
  text-decoration: underline;
}

.book button.unavailable {
  background-color: brown;
  color: white;
}

.book button:disabled {
  cursor: not-allowed;
}




















/* responsywność  */
@media (max-width: 650px) {

  header {
    flex-direction: column;

  }

  header div {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 0.3em;
    justify-content: space-evenly;
  }

  header a {
    text-align: center;
  }

  main {
    display: flex;
    flex-flow: row wrap;
  }

  article {
    width: 100%;
  }

  aside {
    border-top: 0.1em solid brown;
    width: 100%;
  }

}